nav {
  display: flex;
}

nav a {
  border: 1px solid #f4f4f9;
  padding: 10px;

  text-decoration: none;
  color: #f4f4f9;
}

.left-rounded {
  border-radius: 10px 0 0 10px;
}

.right-rounded {
  border-radius: 0 10px 10px 0;
}

#logo {
  border-radius: 50%;
}

.main-header {
  display: flex;
  background: linear-gradient(to right, #2c3e50, #4a69bd);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #f4f4f9;
}

.banner {
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
}

.pict1 {
  background-image: url("/assets/img/1.jpg");
}

.pict2 {
  background-image: url("/assets/img/2.jpg");
}

.pict3 {
  background-image: url("/assets/img/3.jpg");
}

.portfolio {
  display: flex;

  margin: 20px;
}

.portfolio img {
  width: 50%;
  border-radius: 10%;
}

footer {
  text-align: center;
}

body {
  background-color: #f4f4f9;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
  margin: 20px 0;
}

.form-contact {
  width: 50%;
}

.container-message {
  display: flex;
}

.form-result {
  width: 50%;
  border: #2c3e50 1px solid;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px;
}

.form-contact form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form-contact label {
  margin-top: 10px;
}

.form-contact input,
.form-contact textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-contact button {
  margin-top: 15px;
  padding: 10px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-contact button:hover {
  background-color: #4a69bd;
}

/* CSS yang dijalankan di ukuran layar kurang dari 480px */
@media only screen and (max-width: 480px) {
  .main-header {
    flex-direction: column;
  }
}
